###################################
# GENERAL
###################################
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

###################################
# BACKEND — SPRING BOOT
###################################
backend/HELP.md
backend/target/
backend/!.mvn/wrapper/maven-wrapper.jar
backend/!**/src/main/**/target/
backend/!**/src/test/**/target/

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
backend/!**/src/main/**/build/
backend/!**/src/test/**/build/

### VS Code ###
backend/.vscode/

###################################
# FRONTEND — FLUTTER
###################################

# Miscellaneous
frontend/*.class
frontend/*.log
frontend/*.pyc
frontend/*.swp
frontend/.DS_Store
frontend/.atom/
frontend/.buildlog/
frontend/.history
frontend/.svn/
frontend/migrate_working_dir/

# IntelliJ related
frontend/*.iml
frontend/*.ipr
frontend/*.iws
frontend/.idea/

# Flutter/Dart/Pub related
frontend/**/doc/api/
frontend/**/ios/Flutter/.last_build_id
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/

# Symbolication
frontend/app.*.symbols

# Obfuscation
frontend/app.*.map.json

# Android build outputs
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release
frontend/android/.gradle/
frontend/android/local.properties

# iOS build outputs
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/ios/Flutter/Flutter.framework
frontend/ios/Flutter/Flutter.podspec